<h1>
  Top 100 !
</h1>
<% if current_user %>
  <ul>
    <% @tracks.each do |track| %>
      <li><%= link_to track.name, top_100_tracks_path(track)  %></li>
      <% end %>
    </ul>
    <% else %>
    <ul>
      <% @tracks.each do |track| %>
        <li><%= track.name %></li>
        <% end %>
      </ul>
    <% end %>
